<div id="nav-bar" class="" data-ng-controller="CtrlHeader">
    <div class="pull-left">
        <div id="header-container">
            <a id="backbutton" class="win-backbutton" href="./index.html#!/home"></a>
            <h3>Project</h3>
            <h3>Lunar</h3>
        </div>
    </div>
    <div class="pull-right">
        <div id="top-info" class="pull-right">
            <a id="logged-user" href="#" class="win-command pull-right">
                <span class="win-commandicon win-commandring  icon-logout" data-ng-click="logout()"></span>
            </a>
            <div class="pull-left">
                <h3>{{ user[0]['username'] }} </h3>
                <h4> {{ user[0]['name'] }} </h4>
            </div>
        </div>
    </div>
</div>

<script>
    function CtrlHeader($scope,localStorageService, $location){
        $scope.user= localStorageService.get('user');
        $scope.logout = function(){
            localStorageService.clearAll();
            $location.path('/');
        }
    }
</script>